
/* ----------- GLOBAL ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #fff;
    line-height: 1.5;
    max-width: 1800px;
    margin: auto;
    padding: 20px;
}
.photo-about {
    height: 500px;
}


/* ----------- NAVIGATION ----------- */

#navigation {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 120px;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
}

/* ----------- PHOTO + ABOUT SECTION ----------- */

#bigphoto {
    height: 500px;
}
#imagegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 5em;
}
#smallphoto {
    height: 300px;
}
#photo-about {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}

#photo-about img {
    width: 100%;
    border: 2px solid #ccc;
    background: #eee;
    object-fit: cover;
}

#photo-about p {
    font-size: 0.95rem;
    line-height: 1.6;
}

footer img {
    height: 120px;
}
footer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-decoration: none;
    color: #333;
}


/* ----------- S*
